/* Typical properties start */
@font-face {
	font-family: "Source Sans Pro";
	src: url("https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2"), format("woff2");
	font-display: swap;
}

:root {
	color-scheme: light dark; /* both supported */
}

html {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: screen;
    min-height: 100%;
	scroll-behavior: smooth;
}

#header {
	align-items: center;
	margin-top: 2rem;
}

#change-theme-img {
	width: 2rem;
	height: 2rem;
	display: table;
    margin: 0 auto;
	border-radius: 25px;
	padding: 5px;
}

body {
	position: relative;
	min-height: 100%;
	min-width: 350px;
	font-family: "Source Sans Pro", sans-serif;
	margin: 0px;
}

body.dark-theme #change-theme-img {
	border: 2px solid white;
}

body.light-theme #change-theme-img {
	border: 2px solid black;
}

body.dark-theme {
	color: white;
	background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);;
}

body.light-theme {
	color: black;
	background: linear-gradient(to bottom, #83a4d4, #b6fbff);;
}

.rounded {
	display: table;
    margin: 0 auto;
	margin-bottom: 3rem;
    text-align: center;
    border-radius: 25px;
	padding: 20px;
    width: fit-content;
    height: fit-content;
}

.centerized-btn {
	display: table;
    margin: 0 auto;
}

body.dark-theme .rounded{
    border: 2px solid white;
}

body.light-theme .rounded{
    border: 2px solid black;
}

.info-textarea {
	overflow: hidden;
	resize: none;
	margin: 1rem;
	height: 1rem;
	text-align: center;
}

body.light-theme .info-textarea {
	background: white;
	color: black;
}

h1 {
	text-align: center;
	font-size: 3rem;
	margin: 2rem;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

.element {
	opacity: 0;
    transform: scale(0.6, 0.6) translate(50px, 0);
    transition: opacity .2s ease-out, transform .2s ease-out;
}

.element.visible {
    opacity: 1;
    transform: scale(1, 1) translate(0, 0);
}

body.dark-theme h1 {
	color: white;
}

body.light-theme h1 {
	color: black;
}

body.dark-theme h2 {
	color: white;
}

body.light-theme h2 {
	color: black;
}

.create-profile-labels {
	display: block;
	padding: 1rem;
}

.profile-name {
	font-size: 2rem;
	font-weight: bold;
}

.clickable {
	cursor: pointer;
}

.button {
	margin-bottom: 3rem;
}

.create-profile-btn {
	padding-top: 1rem;
	width: 2rem;
	height: 2rem;
}

#appicon > img {
    width: 8rem;
    height: 8rem;
}

#profiles > img {
    width: 3rem;
    height: 3rem;
}

.category-icon {
	padding-top: 2rem;
	width: 3rem;
	height: 3rem;
}
  
img {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h2 {
	display: grid;
	overflow: auto;
	text-align: center;
    font-family: "Oswald", sans-serif;
    color: #ddd;
}

h3 {
    color: white;
    text-align: center;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Cover */
#cover {
	text-align: center;
    padding-top: 5rem;
}
/* End Cover */

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}

@media all and (max-width: 1030px) {
	#main-image {
		max-width: 60%;
	}
}

@media all and (max-width: 250px) {
	h1 {
		font-size: 1rem;
	}
}