/* Typical properties start */
@font-face {
	font-family: "Source Sans Pro";
	src: url("https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2"), format("woff2");
	font-display: swap;
}

:root {
	color-scheme: light dark; /* both supported */
}

html {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: screen;
    min-height: 100%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: 100%;
	font-family: "Source Sans Pro", sans-serif;
	margin: 0px;
}

body.dark-theme {
	color: white;
	background: linear-gradient(to right, #434343, #000000);
}

body.light-theme {
	color: black;
	background: white;
}

.rounded {
	display: table;
    margin: 0 auto;
	margin-bottom: 3rem;
    text-align: center;
    border-radius: 25px;
	padding: 20px;
    width: fit-content;
    height: fit-content;
}

body.dark-theme .rounded{
    border: 2px solid white;
}

body.light-theme .rounded{
    border: 2px solid black;
}

h1 {
	text-align: center;
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

.element {
	opacity: 0;
    transform: scale(0.6, 0.6) translate(50px, 0);
    transition: opacity .2s ease-out, transform .2s ease-out;
}

.element.visible {
    opacity: 1;
    transform: scale(1, 1) translate(0, 0);
}

body.dark-theme h1 {
	color: white;
}

body.light-theme h1 {
	color: black;
}

body.dark-theme h2 {
	color: white;
}

body.light-theme h2 {
	color: black;
}

.create-medicine-labels {
	display: block;
	padding: 1rem;
}

.clickable {
	cursor: pointer;
}

.button {
	margin-bottom: 3rem;
}

.create-medicine-btn {
	padding-top: 1rem;
	width: 2rem;
	height: 2rem;
}

.create-medicine-btn {
	padding-top: 1rem;
	width: 2rem;
	height: 2rem;
}

#appicon > img {
    width: 8rem;
    height: 8rem;
}

#medicine > img {
    width: 3rem;
    height: 3rem;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.category-icon {
	padding-top: 2rem;
	width: 3rem;
	height: 3rem;
}
  
img {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h2 {
	display: grid;
	overflow: auto;
	text-align: center;
    font-family: "Oswald", sans-serif;
    color: #ddd;
}

h3 {
    color: white;
    text-align: center;
}

.info-textarea {
	overflow: hidden;
	resize: none;
	margin: 1rem;
	height: 1rem;
}

.search-input {
	margin: 0 auto;
	display: table;
	align-items: center;
    text-align: center;
    border-radius: 25px;
	padding: 10px;
}

.sort-by-div {
	margin: 0 auto;
	display: table;
	align-items: center;
	padding: 2rem;
}

.medicine-label {
	padding: 1rem;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Cover */
#cover {
	text-align: center;
    padding-top: 5rem;
}
/* End Cover */

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}

@media all and (max-width: 1030px) {
	table {
		width: 90%;
	}
	table th, table td {
	  font-size: smaller;
	}
	#chartdiv {
		width: 90%;
		font-size: smaller;
	}
}

@media all and (max-width: 250px) {
	h1 {
		font-size: 1rem;
	}
}