/* Typical properties start */
@font-face {
	font-family: "Source Sans Pro";
	src: url("https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2"), format("woff2");
	font-display: swap;
}

:root {
	color-scheme: light dark; /* both supported */
}

html {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: screen;
    min-height: 100%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: 100%;
	font-family: "Source Sans Pro", sans-serif;
	margin: 0px;
}

body.dark-theme {
	color: white;
	background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);;
}

body.light-theme {
	color: rgb(129, 120, 120);
	background: linear-gradient(to bottom, #83a4d4, #b6fbff);;
}

.rounded {
	display: table;
    margin: 0 auto;
	margin-bottom: 3rem;
    text-align: center;
    border-radius: 25px;
	padding: 20px;
    width: fit-content;
    height: fit-content;
}

body.dark-theme .rounded{
    border: 2px solid white;
}

body.light-theme .rounded{
    border: 2px solid black;
}

h1 {
	text-align: center;
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

.element {
	width: fit-content;
	height: fit-content;
	min-width: fit-content;
	min-height: fit-content;
	opacity: 0;
    transform: scale(0.6, 0.6) translate(50px, 0);
    transition: opacity .2s ease-out, transform .2s ease-out;
}

.element.visible {
    opacity: 1;
    transform: scale(1, 1) translate(0, 0);
}

body.dark-theme h1 {
	color: white;
}

body.light-theme h1 {
	color: black;
}

body.dark-theme h2 {
	color: white;
}

body.light-theme h2 {
	color: black;
}

.create-medicine-labels {
	display: block;
	padding: 1rem;
}

.clickable {
	cursor: pointer;
}

.button {
	margin-bottom: 3rem;
}

.create-medicine-btn {
	padding-top: 1rem;
	width: 2rem;
	height: 2rem;
}

.create-medicine-btn {
	padding-top: 1rem;
	width: 2rem;
	height: 2rem;
}

select {
    margin: 0 auto;
    text-align: center;
	margin-left: 1rem;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
	display: inline-flex;
}

body.light-theme select {
	background: white;
	color: black;
}

#appicon > img {
    width: 8rem;
    height: 8rem;
}

#medicine > img {
    width: 3rem;
    height: 3rem;
}

.category-icon {
	display: block;
	margin: 0 auto;
	padding-top: 2rem;
	width: 3rem;
	height: 3rem;
}
  
img {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h2 {
	display: grid;
	overflow: auto;
	text-align: center;
    font-family: "Oswald", sans-serif;
    color: #ddd;
}

h3 {
    color: white;
    text-align: center;
}

#medicine-remakrs-txt {
	resize: both;
}

label {
	padding-top: 1rem;
}

#medicine-barcode-txt {
	margin-right: 1rem;
}

#barcode-scan-btn {
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
}

.info-textarea {
	overflow: hidden;
	resize: none;
	margin-left: 1rem;
	height: 1rem;
	text-align: center;
}

body.light-theme .info-textarea {
	background: white;
	color: black;
}

.search-input {
	margin: 0 auto;
	display: table;
	align-items: center;
    text-align: center;
    border-radius: 25px;
	padding: 10px;
}

body.light-theme .search-input {
	background: white;
	color: black;
}

.import-export-div {
	margin: 0 auto;
	display: table;
	align-items: center;
	padding-top: 2rem;
}

#import-img {
	width: 2rem;
	height: 2rem;
}

#export-img {
	width: 2rem;
	height: 2rem;
}

.sort-by-div {
	font-weight: bold;
	margin: 0 auto;
	display: table;
	align-items: center;
	padding: 2rem;
}

body.dark-theme .sort-by-div {
	color: white;
}

body.light-theme .sort-by-div {
	color: black;
}

.expired {
	background: linear-gradient(to right, #e52d27, #b31217);
}

.expires-soon {
	background: linear-gradient(to right, #f46b45, #eea849);
}

.ahead-of-expiration {
	background: linear-gradient(to bottom, #11998e, #38ef7d);
}

.medicine-name {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	display: block;
	padding: 1rem;
}

.expiration-date-label {
	color: white;
	display: block;
	padding: 1rem;
}

.stock-label {
	color: white;
	display: block;
	padding: 1rem;
}

.barcode-label {
	color: white;
	display: block;
	padding: 1rem;
}

.remarks-label {
	color: white;
	display: block;
	padding: 1rem;
}

#scanner-container {
	padding: 1rem;
	margin: 0 auto;
	display: block;
	align-items: center;
    text-align: center;
}

#scanner-container canvas {
	display: none;
}

#new-medicine-div {
	display: table;
	
	align-items: center;
}

.create-med-lbl {
	display: flex;
}

.previous-btn {
	width: 3rem;
	height: 3rem;
	float: left;
	padding-top: 2rem;
	padding-left: 2rem;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Cover */
#cover {
	text-align: center;
    padding-top: 5rem;
}
/* End Cover */

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}

@media all and (max-width: 1030px) {
	table {
		width: 90%;
	}
	table th, table td {
	  font-size: smaller;
	}
	#chartdiv {
		width: 90%;
		font-size: smaller;
	}
}

@media all and (max-width: 250px) {
	h1 {
		font-size: 1rem;
	}
}