/* Typical properties start */
@font-face {
	font-family: "Source Sans Pro";
	src: url("https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2"), format("woff2");
	font-display: swap;
}

:root {
	color-scheme: light dark; /* both supported */
}

html {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: screen;
    min-height: 100%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: 100%;
	font-family: "Source Sans Pro", sans-serif;
}

body.dark-theme {
	color: white;
	background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);;
}

body.light-theme {
	color: rgb(129, 120, 120);
	background: linear-gradient(to bottom, #83a4d4, #b6fbff);;
}

.rounded {
	width: fit-content;
    height: fit-content;
	display: table;
	justify-content: center;
    margin: 0 auto;
	margin-bottom: 3rem;
    text-align: center;
    border-radius: 25px;
	padding: 20px;
}

body.dark-theme .rounded{
    border: 2px solid white;
}

body.light-theme .rounded{
    border: 2px solid black;
}

.element {
	opacity: 0;
    transform: scale(0.6, 0.6) translate(50px, 0);
    transition: opacity .2s ease-out, transform .2s ease-out;
}

.element.visible {
	width: fit-content;
	height: fit-content;
    opacity: 1;
    transform: scale(1, 1) translate(0, 0);
}

.info-div {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-bottom: 2rem;
}

.button-div {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-bottom: 2rem;
}

h1 {
	text-align: center;
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

body.dark-theme h1 {
	color: white;
}

body.light-theme h1 {
	color: black;
}

body.dark-theme h2 {
	color: white;
}

body.light-theme h2 {
	color: black;
}

.create-medicine-labels {
	display: block;
	padding: 1rem;
}

.clickable {
	cursor: pointer;
}

.button {
	margin-bottom: 3rem;
}

.button-div {
	padding: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.create-medicine-btn {
	padding-top: 1rem;
	width: 2rem;
	height: 2rem;
}

.create-medicine-btn {
	padding-top: 1rem;
	width: 2rem;
	height: 2rem;
}

.barcode-input-button {
	display: grid;
	grid-template-columns: 1fr 0.2fr;
}

select {
	margin-left: 1rem;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
}

body.light-theme select {
	background: white;
	color: black;
}

#appicon > img {
    width: 8rem;
    height: 8rem;
}

#medicine > img {
    width: 3rem;
    height: 3rem;
}

.category-icon {
	display: block;
	margin: 0 auto;
	padding-top: 2rem;
	width: 3rem;
	height: 3rem;
}
  
img {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h2 {
	display: grid;
	overflow: auto;
	text-align: center;
    font-family: "Oswald", sans-serif;
    color: #ddd;
}

h3 {
    color: white;
    text-align: center;
}

#medicine-remakrs-txt {
	resize: both;
}

#medicine-barcode-txt {
	margin-right: 1rem;
}

#barcode-scan-btn {
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
}

.info-textarea {
	overflow: hidden;
	resize: none;
	margin-left: 1rem;
	height: 1rem;
	text-align: center;
}

body.light-theme .info-textarea {
	background: white;
	color: black;
}

.warning::placeholder {
	color: red;
}

.search-input {
	margin: 0 auto;
	display: table;
	align-items: center;
    text-align: center;
    border-radius: 25px;
	padding: 10px;
}

.import-export-div {
	text-align: center;
	justify-content: center;
	width: fit-content;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	padding-top: 2rem;
}

#import-img {
	/* margin: 0 auto; */
	width: 2rem;
	height: 2rem;
	padding-right: 1rem;
}

#export-img {
	width: 2rem;
	height: 2rem;
	padding-left: 1rem;
}

.sort-by-div {
	width: fit-content;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	padding: 2rem;
}

body.dark-theme .sort-by-div {
	color: white;
}

body.light-theme .sort-by-div {
	color: black;
}

.expired {
	background: linear-gradient(to right, #e52d27, #b31217);
}

.expires-soon {
	background: linear-gradient(to right, #f46b45, #eea849);
}

.ahead-of-expiration {
	background: linear-gradient(to bottom, #11998e, #38ef7d);
}

.medicine-info-label {
	font-weight: bold;
	color: white;
	display: block;
}

.medicine-name {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	display: block;
	padding: 1rem;
}

.expiration-date-label {
	color: white;
	display: block;
	padding: 1rem;
}

.stock-label {
	color: white;
	display: block;
	padding: 1rem;
}

.barcode-label {
	color: white;
	display: block;
	padding: 1rem;
}

.remarks-label {
	color: white;
	display: block;
	padding: 1rem;
}

#scanner-container {
	padding: 1rem;
	margin: 0 auto;
	display: block;
	align-items: center;
    text-align: center;
}

#scanner-container canvas {
	display: none;
}

#new-medicine-div {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-bottom: 2rem;
}

.label-input-div {
	display: flex;
}

.create-med-lbl {
	display: flex;
}

.previous-btn {
	width: 3rem;
	height: 3rem;
	float: left;
	padding-top: 2rem;
	padding-left: 2rem;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

#cover {
	text-align: center;
    padding-top: 5rem;
}

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
	display: none; 
}
  
input[type=search] {
	background: #ededed url('../assets/search.png') no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	color: black;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
  
input:-moz-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}

#search-input input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}

#search-input input[type=search]:hover {
	background-color: #fff;
}

#search-input input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}

#search-input input:-moz-placeholder {
	color: transparent;
}

#search-input input::-webkit-input-placeholder {
	color: transparent;
}

#appicon {
	display: flex;
	justify-content: center;
}

#cover-icon {
	width: 5rem;
	height: 5rem;
}

#back-btn-div {
	margin: 0 auto;
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}

@media all and (max-width: 370px) {
	h2 {
		font-size: 2rem;
	}

	#medicine {
		margin-left: 2rem;
		margin-right: 2rem;
	}

	#sortby-select {
		width: fit-content;
		font-weight: bold;
		margin: 0 auto;
		display: table;
	}

	.sort-by-div label {
		display: table;
		padding-bottom: 1rem;
		margin: 0 auto;
	}

	#back-btn-div {
		display: flex;
		justify-content: center;
	}

	#back-btn {
		width: 4rem;
		height: 4rem;
	}

	#add-medicine-img {
		margin: 0 auto;
	}

	#cover {
		padding-top: 3rem;
	}

	#cover-icon {
		width: 3rem;
		height: 3rem;
	}
}